name: scan
on:
  push:
    branches:
      - '*'
jobs:
  licensight:
    if: github.ref_name == github.event.repository.default_branch
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Licensight scan for default branch
        run: |
          curl -O https://licensight.s3.eu-central-1.amazonaws.com/latest/linux/licensight-scan
          chmod +x ./licensight-scan
          ./licensight-scan generate \
            -d . \
            -a "github-app" \
            -e https://licensight-dev.homologation.cloud/ \
            -at ${{ secrets.LICENSIGHT_ACCESS_TOKEN }} \
            -b ${{ github.ref_name }}
